* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: cursive;
   line-height: 1.6;
}

.navbar {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   background: rgb(233, 184, 192);
   padding: 10px 0;
   transition: background;
   box-shadow: none;
}

.navbar ul {
   list-style: none;
   display: flex;
   justify-content: center;
}

.navbar li {
   margin: 0 20px;
}

.navbar a {
   text-decoration: none;
   color: #333;
   transition: color 0.3s ease;
}

.navbar a:hover {
   color: #007BFF; /* Change color on hover */
}
section {
   height: 100vh;
   display: flex;
   flex-direction: column; /* Arrange items vertically */
   justify-content: center; /* Center items vertically */
   align-items: center; /* Center items horizontally */
   text-align: center; /* Center text */
   font-size: 2em;
}
footer {
   background: #2b2b52;
   color: white;
   text-align: center;
   padding: 15px;
}

/* Change background color when scrolled */
.scrolled {
   background:pink
   box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}